@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #83C5BE;
    height: 120vh;
}

nav {
    background-color: white;
    padding: 0.3%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: transform 0.3s ease-in-out;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: teal;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 4vw;
    color: black;
}

.nav-links.active {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 62%;
        left: 0;
        width: 50%;
        transform: translateX(-100%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        gap: 6vw;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        transform: translateX(0);
    }
}

#text {
    text-align: center;
    margin-top: 20%;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 3vw;
}
h1, h2 {
    color: black;
    font-family: "Julius Sans One", sans-serif;
    white-space: nowrap;
    margin: 10px auto;
    letter-spacing: .15em;
    position: relative;
    display: block; /* Key for correct layout */
}

h1 span {
    overflow: hidden;
    display: inline-block;
    border-right: .1em solid black;
    animation: typing1 5s steps(22, end) forwards, blink-caret1 .5s step-end infinite;
}

h2 span {
    overflow: hidden;
    display: inline-block;
    border-right: .1em solid black;
    animation: typing2 5s steps(18, end) forwards, blink-caret2 .5s step-end infinite;
}

@keyframes typing1 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret1 {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@keyframes blink-caret2 {
    from, to { border-color: transparent }
    50% { border-color: black }
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    font-size: 1.2vw;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
}

.footer-text {
    text-align: left;
}
.footer-map{
    padding: 2%;
    width: 25vw;
    height: 25vh;
}
.footer-map iframe {
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .footer-container {
        text-align: center;
    }

    .footer-map iframe {
        width: 100%;
    }
}