
h1 {
  text-align: center;
  margin-top: 100px;
  font-weight: 20;
  font-size: 10vh;
  margin-bottom: 100px;
 }
 
 
 h2 {
 margin-top: 50px;
 margin-left: 15px;
 margin-right: 15px;
 }
 
 
 body {
 background-attachment: scroll;
 background-size: cover;
 background-repeat: no-repeat;
 font-family: "Julius Sans One", sans-serif;
 }
 
 
 .frontImg {
 display: block;
 width: 75%;
 height: 30vh;
 margin: 20px auto;
 border-radius: 50px;
 margin-top: 40px;
 }
 
 
 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
 }
 
 
 .flip-card {
  width: 28%;
  height: 65vh;
  perspective: 1000px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 40px;
  text-align: center;
  box-sizing: border-box;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 
 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 40px;
 }
 
 
 .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
 }
 
 
 .flip-card-front,
 .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
 }
 .flip-card-back{
  padding: 20px 30px;
  box-sizing: border-box;
 }
 .flip-card-front h2,
 .flip-card-back h2 {
  font-size: 1.75rem;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 
 .flip-card-front h2,
 .flip-card-back h2 {
  margin-top: 5%;
 } 
 
 .flip-card-back h2{
  margin-bottom: 2%;
 }
 
 .flip-card-front p,
 .flip-card-back p {
  font-size: 1.2rem;
  margin: 0;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25;
 }
 
 
 .flip-card-front {
  background-color: #83C5BE;
  color: black;
 }
 
 
 .flip-card-back {
  background-color: #83C5BE;
  color: black;
  transform: rotateY(180deg);
 }
 
 
 @media (max-width: 1024px) {
  .flip-card {
    width: 33.33%;
  }
 }
 
 
 @media (max-width: 768px) {
  .flip-card {
    width: 50%;
  }
  .flip-card-front h2,
  .flip-card-back h2 {
    font-size: 1.5rem;
  }
 
 
  .flip-card-front p,
  .flip-card-back p {
    font-size: 1.05rem;
  }
 }
 
 
 @media (max-width: 480px) {
  .flip-card {
    width: 100%;
  }
  .flip-card-front h2,
  .flip-card-back h2 {
    font-size: 1.25rem;
  }
 
 
  .flip-card-front p,
  .flip-card-back p {
    font-size: 1rem;
  }
 }
 
 
 p {
 margin-left: 15px;
 margin-right: 15px;
 }

 body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 nav {
  background-color: white;
  padding: 0.3%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 0;
 }
 
 
 
 
 .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  transition: transform 0.3s ease-in-out;
 }
 
 
 
 
 .nav-links li {
  margin: 0 15px;
 }
 
 
 
 
 .nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
 }
 
 
 
 
 .nav-links a:hover {
  color: teal;
 }
 
 
 
 
 .menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 4vw;
  color: black;
 }
 
 
 
 
 .nav-links.active {
  transform: translateX(0);
 }
 
 
 
 
 @media (max-width: 768px) {
  .nav-links {
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 62%;
      left: 0;
      width: 50%;
      transform: translateX(-100%);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      gap: 6vw;
  }
 
 
 
 
  .menu-toggle {
      display: block;
  }
 
 
 
 
  .nav-links.active {
      transform: translateX(0);
  }
 }
 
 
 footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  margin-top: 10%;
  width: 100%;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.2vw;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  padding-top: 10px;
 
 
 
 
 }
 
 
 
 
 .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
 }
 
 
 
 
 .footer-text {
  text-align: left;
 }
 
 .footer-map iframe {
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
 }
 

 @media (max-width: 768px) {
  .footer-container {
      text-align: center;
  }
  .footer-map iframe {
      width: 50vw;
      height: 15vh;
  }
  .footer{
    font-size: 1.2vw;
  } 
 }
 #video {
  position: relative; /* This makes the video relative to its normal position in the document */
  margin-top: -5%; /* Adjust to place the video 3% below the "Our Process" section */
  margin-left: auto;
  margin-right: auto;
  display: block; /* To center the video */
  width: 50%; /* Adjust the width as needed */
}
.caption {
  display: flex;
  justify-content: center;  /* Centers content horizontally */
  align-items: center;      /* Centers content vertically */
  text-align: center;       /* Centers the text inside */
}


